.pageInfoCard {
  width: 550px;
  color: var(--text);

  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-sm);

  position: absolute;

  bottom: 30px;
  right: 30px;

  @media screen and (max-width: 666px) {
    width: 70vw;
  }

  div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0.5rem 0.5rem 0 1rem;

    button {
      background: var(--red);
      padding: 0.25rem;
      border-radius: 0.25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 0.75rem;
        fill: var(--white);
      }
    }
  }

  div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;

    span {
      @media screen and (max-width: 666px) {
        max-height: 7rem;
        overflow-y: scroll;

        padding: 0 0.5rem;
      }
      font-size: 0.9rem;
    }

    svg {
      width: 6rem;
      height: 6rem;
      margin-right: 1rem;

      fill: var(--text);

      @media screen and (max-width: 666px) {
        display: none;
      }
    }
  }
}
